doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include style.css
    title Document
  body 
    table.signature
      tbody 
        tr.person
          td(class="avatar", vertical-align="top", width="100")
            img(src=`${api}/images/humans/${photo}`)
          td.contact
            table
              tbody 
                tr
                  td.name
                    h3.red #{name}
                tr
                  td.position
                    h4.gray300 #{position}
                tr
                  td.contact-info
                    a(href=`tel: ${phone.split(' ').join('')}`, class="gray400") #{phone} 
                    span.red &ensp;|&ensp; 
                    a(href=`email: ${email}`, class="gray400") #{email}
                    span.red &ensp;|&ensp; 
                    a(href="https://labona.cz", class="red bold") www.labona.cz 
            table.socials
              tbody  
                tr
                  td
                    a(href="https://") 
                      img(src=`${api}/images/fb.png`)
                    a(href="https://") 
                      img(src=`${api}/images/ig.png`)
                    a(href="https://") 
                      img(src=`${api}/images/yt.png`)
        tr
          td(colspan="2")
            hr
        tr.footer
          td.logo
            a(href="https://labona.cz") 
              img(src=`${api}/images/labona.png`)
          td.eval
            span Jste s Labonou spokojení? 
              a(href="#", class="gray300 underline") Ohodnoťte nás, prosím.
          