doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style
      include style.css
    title Document
  body 
    table(class="signature" cellspacing="0" border="0")
      tbody 
        tr.person
          td(class="avatar" vertical-align="top" width="100")
            img(src=`${api}/images/humans/png/${photo}`, width="100" height="100")
          td.contact
            table
              tbody 
                if (name && surname) 
                  tr
                    td.name
                      h3.red #{title} #{name} #{surname}
                  tr
                    td
                      img(src=`${api}/images/spaces/xs.png`, width="5" height="5" class="space xs")
                if position
                  tr
                    td.position
                      h4.gray300 #{position}
                tr
                  td.contact-info
                    if phone
                      a(href=`tel: ${phone.split(' ').join('')}`, class="gray400") #{phone} 
                      span.red &ensp;|&ensp; 
                    a(href=`mailto: ${email}`, class="gray400") #{email}
                    span.red &ensp;|&ensp; 
                    a(href=`https://${web}`, class="red bold") #{web} 
            table.socials
              tbody  
                tr
                  td(colspan="3")
                    img(src=`${api}/images/spaces/s.png`, width="10" height="10" class="space s")
                tr
                  td
                    div
                      a(href="https://www.facebook.com/labonacz") 
                        img(src=`${api}/images/fb.png`, height="15" width="15" class="social-icon fb")
                  td
                    div
                      a(href="https://www.instagram.com/labona_sro/") 
                        img(src=`${api}/images/ig.png`, height="15" width="20" class="social-icon ig")
                  td
                    div
                      a(href="https://www.youtube.com/watch?v=ftKfNdCXcfk&list=PLaUnQL-CIyedgAwv10peWpvlr8wMWaggu") 
                        img(src=`${api}/images/yt.png`, height="15" width="25" class="social-icon yt")
        tr
          td(colspan="2")
            img(src=`${api}/images/spaces/s.png`, width="10" height="10" class="space s")
        tr
          td(colspan="2")
            hr
        tr 
          td(colspan="2")
            img(src=`${api}/images/spaces/s.png`, width="10" height="10" class="space s")
        tr.footer
          td.logo
            a(href=`https://${web}`) 
              img(src=`${api}/images/labona-reg.png`, width="120" height="25")
          td.eval
            span Jste s Labonou spokojení? 
              a(href="https://surveys.hotjar.com/c25ccdaa-97b5-4009-a475-9e2ee995a0d3" class="gray300 underline") Ohodnoťte nás, prosím.
